<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Search Page</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <style>
        table{
            font-size: 15px;
        }
    </style>
    
</head>
<body style="background-color:lightgoldenrodyellow">
    <nav class="navbar navbar-expand-lg col-md-12" style="background-color:lightcyan; font-size: 25px; padding: 15px;">
        <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" href="{{url_for('customer_home',customer_id=c_id)}}">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" href="/customer/search/{{c_id}}">Search</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('customer_summary',customer_id=c_id)}}">Summary</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/">Logout</a>
            </li>
        </ul>
        <p class="mb-0" style="color:teal; font-size:30px; font-weight:bold;">Welcome to Customer Dashboard</p>
        <p class="mb-0" style="font-size:22px; font-weight:bold;">Abode Mantra: Your A-Z Cleaning Experts</p>
        </div>
    </nav>
    <div class="container">
        <form method="POST">
            <div class="row my-5">
                <div class="col-md-6">
                    <select class="form-select" name="search_cat" required>
                        {% for x in data %}
                        <option value="{{x}}">{{x}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4 text-end">
                    <input class="form-control me-2" type="search" id="search_q" name="search_q"
                        placeholder="Search by:">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-lg btn-outline-success" type="submit">Search</button>
                </div>
            </div>
        </form>
        {% if dtable %}
            <div class="row">
                {% if table_name=='Services'%}
                <p class="text-center display-4" style="color:lightseagreen;font-weight:bold;">{{table_name}}</p>
                <table class="table table-hover table-bordered border-primary">
                    <thead>
                        {% for x in data_cols %}
                        <th>{{x}}</th>
                        {% endfor %}
                        <th>Action</th>
                    </thead>
                    {% for y in dtable %}
                    <tr>
                        <td>{{y.service_id}}</td>
                        <td>{{y.service_type}}</td>
                        <td>{{y.service_name}}</td>
                        <td>{{y.service_price}}</td>
                        <td>{{y.service_duration}}</td>
                        <td>{{y.service_desc}}</td>
                        <td>
                            <form method="POST">
                                <div class="btn-group" role="group">
                                    <a href="/customer/{{c_id}}/booked/{{y.service_id}}"><button type="button"
                                            class="btn btn-lg btn-primary">Book</button></a>
                                </div>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% elif table_name=='ServiceRequests'%}
                <p class="text-center display-4" style="color:lightseagreen;font-weight:bold;">{{table_name}}</p>
                <table class="table table-hover table-bordered border-primary">
                    <thead>
                        {% for x in data_cols %}
                            {% if x =='service_id'%}
                                <th>service_type</th>
                                <th>service_name</th>
                            {% elif x=='pro_id' %}
                                <th>professional_name</th>
                                <th>profesional_experience</th>
                                <th>professional_contact_no</th>
                            {% else %}
                                <th>{{x}}</th>
                            {% endif %}
                        {% endfor %}
                    </thead>
                    {% for y in dtable %}
                    <tr>
                        <td>{{y.sr_id}}</td>
                        <td>{{y.sr.service_type}}</td>
                        <td>{{y.sr.service_name}}</td>
                        <td>{{y.srp.pro_name}}</td>
                        <td>{{y.srp.pro_exp}}</td>
                        <td>{{y.srp.pro_contact_no}}</td>
                        <td>{{y.date_of_req}}</td>
                        <td>{{y.date_of_comp}}</td>
                        <td>{{y.service_status}}</td>
                        <td>{{y.service_remarks}}</td>
                        <td>{{y.service_rating}}</td>
                        <td>{{y.pro_rating}}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
        {% endif %}
    </div>
</body>
</html>