<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Summary</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.4/dist/chart.umd.min.js"></script>
</head>

<body style="background-color:lightgoldenrodyellow">
    <nav class="navbar navbar-expand-lg col-md-12" style="background-color:lightcyan; font-size: 25px; padding: 15px;">
        <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" href="{{url_for('customer_home',customer_id=c_id)}}">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/customer/search/{{c_id}}">Search</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('customer_summary',customer_id=c_id)}}">Summary</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/">Logout</a>
            </li>
        </ul>
        <p class="mb-0" style="color:teal; font-size:30px; font-weight:bold;">Welcome to Customer Dashboard</p>
        <p class="mb-0" style="font-size:22px; font-weight:bold;">Abode Mantra: Your A-Z Cleaning Experts</p>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <canvas id="DoughnutChart1"></canvas>
            </div>
            <div class="col-6">
                <canvas id="DoughnutChart2"></canvas>
            </div>
        </div>
        <script type="text/javascript">
            var chartid1= document.getElementById('DoughnutChart1')
            var doughnutchart1= new Chart(chartid1,{
                type:'doughnut',
                data:{
                    labels:{{labels_pro_ratings|safe}},
                    datasets:[{
                            data:{{data_pro_ratings|safe}},
                            backgroundColor:[
                                'rgb(153, 102, 255)',
                                'rgb(255, 99, 132)',
                                'rgb(54, 162, 235)',
                                'rgb(255, 206, 86)',
                                'rgb(75, 192, 100)'
                            ],
                            hoverOffset: 4,
                        }],
                },
                options:{
                    radius:'80%',
                    responsive:true,
                    plugins:{
                        title: {
                            display: true,
                            text:'Overall Professional Ratings',
                            font:{
                                weight:'bold',
                                size:35
                            }

                        },
                        legend:{
                            position:'bottom',
                        }
                    }
                }
            });
            var chartid2= document.getElementById('DoughnutChart2')
            var doughnutchart2= new Chart(chartid2,{
                type:'doughnut',
                data:{
                    labels:{{labels_service|safe}},
                    datasets:[{
                            data:{{data_service|safe}},
                            backgroundColor:[
                                'rgb(75, 192, 100)',
                                'rgb(153, 102, 255)',
                                'rgb(54, 162, 235)',
                                'rgb(255, 99, 132)',
                                'rgb(255, 206, 86)'
                               
                            ],
                            hoverOffset: 4,
                        }],
                },
                options:{
                    radius:'80%',
                    responsive:true,
                    plugins:{
                        title: {
                            display: true,
                            text:'Overall Service Ratings',
                            font:{
                                weight:'bold',
                                size:35
                            }

                        },
                        legend:{
                            position:'bottom',
                        }
                    }
                }
            });
        </script>
    </div>
</body>

</html>